@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonst/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

body {
  font-family: 'Ubuntu';
  font-size: 0.875rem; }

html {
  font-size: 1rem; }
  @media (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media (max-width: 480px) {
    html {
      font-size: 13px; } }

html, body {
  height: 100%; }

li, ul, p {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea {
  outline: none; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  overflow: hidden; }

.container {
  margin: 0 auto;
  max-width: 58.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%; }
  .container--without-align {
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial; }
  @media (max-width: 768px) {
    .container {
      width: 95%; } }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2; }

.hero {
  background: url("../img/mainbg.jpg") center center/cover no-repeat; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: .75;
  -ms-flex: .75;
  flex: .75;
  margin: auto; }
  @media (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      margin: initial; } }

.hero__img {
  max-width: 100%;
  max-height: 100%; }

.hero__text {
  margin-top: 3.8125rem; }
  @media (max-width: 768px) {
    .hero__text {
      margin-top: 0; } }

.hero__pic, .hero__text {
  width: 50%; }
  @media (max-width: 768px) {
    .hero__pic, .hero__text {
      width: 100%; } }

.title, .menu__title, .menu-acco__block-text, .team__title, .form__title, .slider__title, .price__numb, .price__text, .composition__text, .calories__text, .calories__weight_text {
  color: #f9b43b;
  font-size: 4.5rem;
  font-family: 'Gagalin';
  font-weight: normal; }
  .title--color-black {
    color: #2f3234;
    text-align: center; }
  @media (max-width: 480px) {
    .title, .menu__title, .menu-acco__block-text, .team__title, .form__title, .slider__title, .price__numb, .price__text, .composition__text, .calories__text, .calories__weight_text {
      font-size: 3.9375rem; } }

.hero__desc {
  color: white;
  font-size: 4.0625rem;
  font-family: 'lifehack';
  text-transform: lowercase;
  line-height: 3.75rem;
  margin-top: 2.125rem; }
  @media (max-width: 480px) {
    .hero__desc {
      font-size: 3.375rem;
      margin: 0; } }

.to-next-section {
  margin-top: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  width: 2.5rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none; }
  .to-next-section:hover, .to-next-section:focus {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
    .to-next-section:hover .arrow-scroll, .to-next-section:focus .arrow-scroll {
      fill: #f9b43b; }
  @media (max-width: 480px) {
    .to-next-section {
      margin-bottom: 1rem; } }

.arrow-scroll {
  width: 1.8125rem;
  height: 0.9375rem;
  fill: white; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.75rem;
  width: 100%; }

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.8125rem; }
  @media (max-width: 768px) {
    .header__buttons {
      margin-right: 4.8125rem; } }

.nav {
  margin-right: 0.9375rem; }
  @media (max-width: 768px) {
    .nav {
      display: none; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    display: block;
    border-radius: 50%;
    background: white;
    margin: 0 1rem; }
  @media (max-width: 768px) {
    .nav__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.nav__item:last-child::after {
  display: none; }

.nav__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase; }
  .nav__link:hover {
    text-decoration: underline; }

@media (max-width: 768px) {
  .hambureg__nav, .nav__link {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 768px) {
  .hambureg__nav, .nav__item:after {
    margin: 1.0625rem auto;
    width: 0.4375rem;
    height: 0.4375rem; } }

@media (max-width: 768px) {
  #fp-nav {
    z-index: 0; } }

.btn {
  border-radius: 0.3125rem;
  padding: 0.625rem 0.9375rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }

.btn--red {
  background: #e45028; }
  .btn--red:hover {
    background: #bf3c19; }

.btn--black {
  background: #2f3234;
  margin-top: 1.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.best {
  background: url("../img/bestbg.jpg") center center/cover no-repeat; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.4375rem; }
  @media (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30%; }
  @media (max-width: 480px) {
    .best__item {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: initial;
      -webkit-box-direction: initial;
      -ms-flex-direction: initial;
      flex-direction: initial; } }

.best__img {
  margin-bottom: 2.1875rem; }

.best__pic {
  max-height: 6.25rem;
  max-width: 6.25rem; }
  @media (max-width: 480px) {
    .best__pic {
      margin-right: 1.25rem; } }

.best__desc {
  text-align: center; }
  @media (max-width: 480px) {
    .best__desc {
      text-align: left; } }

.best__title {
  font-family: 'lifehack';
  font-size: 1.5rem;
  color: #2f3234; }

.best__text {
  opacity: 0.8;
  color: #2f3234;
  line-height: 1.5rem;
  margin-top: 0.625rem; }

.reviews {
  background: #000; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .reviews__item:hover .reviews__hover-block {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  @media (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__hover-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 15%;
  overflow: hidden; }
  @media (max-width: 768px) {
    .reviews__hover-block {
      padding: 0;
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 5%; } }
  @media (max-width: 480px) {
    .reviews__hover-block {
      padding: 15%; } }

.reviews__title, .team-acco__title {
  font-family: Gagalin;
  font-size: 0.875rem; }
  @media (max-width: 480px) {
    .reviews__title, .team-acco__title {
      font-size: 24px; } }

.reviews__text {
  line-height: 1.5rem;
  margin-top: 1.875rem; }
  @media (max-width: 480px) {
    .reviews__text {
      display: none; } }

.menu {
  background: url("../img/menubg.jpg") center center/cover no-repeat;
  position: relative; }

.menu__title {
  color: white;
  position: absolute;
  top: 10%;
  left: 10%; }

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-acco__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%; }

.menu-acco__block {
  text-decoration: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 5rem;
  height: 100vh; }
  .menu-acco__block--meat {
    background: url("../img/mysoeat.jpg") center center/cover no-repeat; }
  .menu-acco__block--vegan {
    background: url("../img/vegans.jpg") center center/cover no-repeat; }
  .menu-acco__block--diet {
    background: url("../img/diets.jpg") center center/cover no-repeat; }

.menu-acco__block-text {
  color: white;
  font-size: 2.5rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap; }

.menu-acco__content {
  background: rgba(47, 50, 52, 0.93);
  color: white;
  height: 100%;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s; }
  @media (max-width: 768px) {
    .menu-acco__content {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

.menu-acco__item--active .menu-acco__block-text {
  color: #f9b43b; }

.menu-acco__item--active .menu-acco__content {
  overflow: initial;
  width: 34.375rem; }
  @media (max-width: 768px) {
    .menu-acco__item--active .menu-acco__content {
      width: 100%; } }

.menu-acco__text {
  padding: 1.25rem; }

.team {
  background: url("../img/teambg.jpg") center center/cover no-repeat; }

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.team__container {
  width: 50%;
  height: 100vh;
  background-color: rgba(47, 50, 52, 0.9);
  padding: 6.25rem; }
  @media (max-width: 768px) {
    .team__container {
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team__title {
  margin-bottom: 2.875rem; }

.team-acco__title {
  text-decoration: none;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-acco__title::before {
    content: "";
    width: 0.5625rem;
    height: 0.4375rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 0.625rem;
    background: url("../img/down.png") center center/cover no-repeat; }
  @media (max-width: 768px) {
    .team-acco__title {
      font-size: 1.5625rem; } }
  @media (max-width: 480px) {
    .team-acco__title {
      white-space: nowrap; } }

.team-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.25rem;
  height: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden; }
  @media (max-width: 768px) {
    .team-acco__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.team-acco__text {
  color: white;
  font-weight: 300;
  margin-left: 1.3125rem;
  max-width: 13rem;
  line-height: 1.5rem; }
  .team-acco__text-title {
    font-weight: bold; }
  @media (max-width: 768px) {
    .team-acco__text {
      margin: 0; } }

.team-acco__text-content {
  padding-top: 0.5625rem; }

.team-acco__item--active .team-acco__content {
  overflow: initial;
  height: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.team-acco__item--active .team-acco__title {
  color: #f9b43b; }
  .team-acco__item--active .team-acco__title::before {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.form {
  background: url("../img/dostavkabg.jpg") center center/cover no-repeat; }

.form__container {
  color: white; }

.form__title {
  text-align: center; }

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2.75rem; }
  @media (max-width: 768px) {
    .main__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__col {
  width: 50%;
  margin-right: 1.25rem; }
  .form__col:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    .form__col {
      width: 100%; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__label {
  margin-bottom: 0.4375rem; }

.form__input {
  width: 100%;
  height: 2.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid transparent; }
  .form__input:focus {
    border: 0.125rem solid #f9b43b; }

.form__textarea {
  height: 6.875rem;
  resize: none; }

@media (max-width: 480px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.form__radio, .form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.25rem; }

.form__radio-elem, .form__checkbox-elem {
  display: none; }

.form__radio-fake {
  width: 1rem;
  height: 1rem;
  margin-right: 0.625rem;
  border-radius: 50%;
  background-color: white;
  position: relative; }
  .form__radio-fake:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: #e35028;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.form__radio-elem:checked + .form__radio-fake::after {
  width: 0.5rem;
  height: 0.5rem; }

.form__checkbox-fake {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 0.625rem;
  background-color: white;
  position: relative; }
  .form__checkbox-fake:after {
    content: "";
    width: 0;
    height: 0;
    background: url("../img/yes.png") center center/cover no-repeat;
    position: absolute;
    top: 10%;
    left: 10%; }

.form__checkbox-elem:checked + .form__checkbox-fake::after {
  width: 0.625rem;
  height: 0.625rem; }

.form__reset {
  color: white; }

.map {
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  background: url("../img/footerbg.jpg") center center/cover no-repeat; }
  @media (max-width: 480px) {
    .footer {
      height: 7.25rem; } }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }
  @media (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.footer__col {
  width: 50%; }
  .footer__col.right {
    text-align: right; }
    @media (max-width: 480px) {
      .footer__col.right {
        text-align: center;
        margin-top: 1.25rem; } }
  @media (max-width: 480px) {
    .footer__col {
      width: 100%; } }

.contacts {
  color: white;
  font-style: normal;
  line-height: 1.5rem; }

.contacts__phone {
  color: #e35028;
  font-weight: 700;
  text-decoration: none; }

@media (max-width: 480px) {
  .contacts, .contacts__phone {
    font-size: 14px; } }

.phone {
  width: 0.75rem;
  height: 0.6875rem; }

.social__link {
  margin-left: 1.25rem;
  text-decoration: none; }

.socials__img {
  height: 1.25rem;
  width: 1.25rem;
  fill: grey; }
  .socials__img:hover {
    fill: white;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

.hamburger-menu__link {
  height: 1.5625rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: none;
  z-index: 4; }
  @media (max-width: 768px) {
    .hamburger-menu__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: fixed;
      top: 2.5rem;
      right: 2.0625rem; } }
  @media (max-width: 480px) {
    .hamburger-menu__link {
      top: 2.625rem;
      right: 1.5rem; } }

.hamburger-menu__bars, .hamburger-menu__bars:before, .hamburger-menu__bars:after {
  background: #fff;
  width: 1.5625rem;
  height: 0.3125rem;
  border-radius: 3px; }

.hamburger-menu__bars:before, .hamburger-menu__bars:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.hamburger-menu__bars:before {
  top: 0; }

.hamburger-menu__bars:after {
  bottom: 0; }

.bars--active {
  background: rgba(0, 0, 0, 0);
  width: 1.875rem; }
  .bars--active::before {
    top: 0.6875rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .bars--active::after {
    bottom: 0.5625rem;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }

.hamburger__menu {
  background: rgba(47, 50, 52, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: -624.9375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1; }

.hamburger__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 768px) {
  .hamburger__nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.menu--active {
  overflow: hidden; }

.slider {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(39%, #ff7c00), color-stop(53%, #ff7f04), color-stop(53%, #ff7f04), color-stop(66%, #ff7f04), color-stop(66%, #ff7f04), color-stop(89%, #ffa73d), to(#ffa73d));
  background: -webkit-linear-gradient(top, #f9b43b 0%, #ff7c00 39%, #ff7f04 53%, #ff7f04 53%, #ff7f04 66%, #ff7f04 66%, #ffa73d 89%, #ffa73d 100%);
  background: -o-linear-gradient(top, #f9b43b 0%, #ff7c00 39%, #ff7f04 53%, #ff7f04 53%, #ff7f04 66%, #ff7f04 66%, #ffa73d 89%, #ffa73d 100%);
  background: linear-gradient(to bottom, #f9b43b 0%, #ff7c00 39%, #ff7f04 53%, #ff7f04 53%, #ff7f04 66%, #ff7f04 66%, #ffa73d 89%, #ffa73d 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.slider__container {
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.slider__wrapper {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.slider__content {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%; }
  @media (max-width: 768px) {
    .slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      margin-top: 50px; } }

.slider__left, .slider__right {
  width: 50%;
  margin: auto; }
  @media (max-width: 768px) {
    .slider__left, .slider__right {
      width: 100%; } }

@media (max-width: 768px) {
  .slider__right {
    padding: 0 12%; } }

@media (max-width: 480px) {
  .slider__right {
    padding: 0; } }

.burger__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%; }
  @media (max-width: 768px) {
    .burger__pic {
      max-width: 100%;
      margin: auto; } }

.slider__title {
  color: white; }
  @media (max-width: 480px) {
    .slider__title {
      font-size: 3.125rem; } }

.slider__text {
  color: white;
  line-height: 1.49812rem;
  margin-top: 2.25rem; }
  @media (max-width: 480px) {
    .slider__text {
      margin-top: 1rem; } }

.slider__price {
  margin-top: 2.25rem; }
  @media (max-width: 480px) {
    .slider__price {
      margin-top: 1rem; } }

.price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.price__numb, .price__text {
  color: #e35028; }

.price__text {
  font-size: 1.875rem;
  margin-right: 1.875rem; }

.scroll {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none; }
  .scroll:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

.scroll__prev {
  position: relative;
  left: 0;
  z-index: 1; }

.scroll__next {
  position: relative;
  right: 0; }

.arrow-scroll__right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.arrow-scroll__left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.composition {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  background-color: #e35028;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  text-align: center; }
  @media (max-width: 768px) {
    .composition {
      left: 13%;
      top: -13%; } }
  @media (max-width: 768px) and (max-width: 480px) {
    .composition {
      left: 0; } }

.composition__content {
  margin: auto; }

.composition__img {
  height: 2.75rem;
  width: 2.875rem; }

.composition__text, .calories__text {
  color: white;
  font-size: 0.875rem; }

.calories__weight {
  background: url("../img/kkal.svg") 50% no-repeat;
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  background-size: contain; }

.calories__weight_text {
  color: white;
  font-size: 1.25rem;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.calories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  top: 85%;
  opacity: 0.5;
  position: absolute; }
  @media (max-width: 768px) {
    .calories {
      top: -13%;
      left: 80%; } }

.dropdown {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 16.875rem;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 0.3125rem;
  top: 0;
  left: 624.9375rem;
  padding: 20%; }

.drop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.3125rem; }

.composition:hover {
  opacity: 1; }

.composition:hover .dropdown {
  left: 100%; }

.modal {
  background: rgba(47, 50, 52, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -624.9375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.modal__active {
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1; }

.modal__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 28.75rem;
  background: white;
  border-radius: 5px;
  padding: 0.3125rem; }

.modal__title {
  font-family: Gagalin;
  text-align: center;
  font-size: 1.25rem; }

.modal__text {
  line-height: 24px;
  padding-top: 5%; }

.modal__close {
  position: absolute;
  top: 2%;
  bottom: 0;
  left: 93%;
  width: 0.9375rem;
  height: 0.9375rem;
  opacity: 0.5;
  outline: none; }

.modal__close:hover {
  opacity: 1; }

.modal__close:before, .modal__close:after {
  position: absolute;
  content: ' ';
  height: 1.25rem;
  width: 0.25rem;
  background-color: #e35028;
  border-radius: 0.1875rem; }

.modal__close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.modal__close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.video {
  background: url("../img/BG_video.jpg") center center/cover no-repeat; }

.player__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3.125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#player {
  width: 100%;
  cursor: pointer; }

.video__player {
  width: 100%;
  position: relative; }

.play__btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer; }

.play__btn--active {
  opacity: 0; }

.video__toolbar {
  width: 100%;
  height: 2.1875rem;
  background-color: #3e3e3e;
  margin-top: -0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.playertype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.play__img {
  padding: 0.3125rem;
  cursor: pointer; }

.playertype__length {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.0625rem;
  background-color: #626262;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

.playertype__length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #626262;
  cursor: pointer;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%; }

.sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sound__img {
  padding-left: 0.625rem;
  cursor: pointer; }

.sound__lenght {
  width: 3.625rem;
  height: 0.25rem;
  margin: 0.3125rem;
  border-radius: 0.0625rem;
  background-color: #626262;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

.sound__lenght::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #626262;
  cursor: pointer;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%; }
