html{
  font-size:rem(16px);
  @include tablets {
    font-size: 14px;
  }
  @include phones{
    font-size: 13px;
  }
}
html,body {
  height: 100%;
}
li, ul, p{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
* {
  box-sizing: border-box;
} 
input, textarea {
  outline:none;
}
.section {
  height: 100vh;
  min-height: rem(650px);
  overflow: hidden;
}
.container{
  margin: 0 auto;
  max-width: rem(940px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
 
  &--without-align{
    justify-content: initial;
  }
  @include tablets{
    width: 95%;
  } 
}

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}


