@font-face {
  font-family: 'Gagalin';
  src: url('/fonts/Gagalin-Regular.woff2') format('woff2'),
      url('/fonts/Gagalin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url('/fonts/Lifehack-Medium.woff2') format('woff2'),
      url('/fonst/Lifehack-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Ubuntu";
  font-size: 14px;
}