.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(12px);
  width: 100%;
}
.header__buttons{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: rem(13px);
  @include tablets{
    margin-right: rem(77px);
  }
}



