.nav{
  margin-right: rem(15px);
  @include tablets{
    display: none;
  }
}
.nav__list{
  display: flex;
}
.nav__item {
  display: flex;
  align-items: center;
  &:after{
    content: "";
    width: rem(4px);
    height: rem(4px);
    display: block;
    border-radius: 50%;
    background: white;   
    margin: 0 rem(16px);
  }
  @include tablets{
    flex-direction: column;
  }
}

.nav__item:last-child::after{
  display: none;
}
.nav__link{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  &:hover{
    text-decoration: underline;
  }
    
}
.hambureg__nav, .nav__link{
  @include tablets{
  font-size: rem(24px);
  display: flex;
  flex-direction: column;
}
}
.hambureg__nav, .nav__item:after{
  @include tablets{
  margin: rem(17px) auto;
  width: rem(7px);
  height: rem(7px);
  }
}

#fp-nav{
  @include tablets{
    z-index: 0;
  }
}