.nav{
  margin-right: rem(15px);
  @include tablets{
    display: none;
  }
}
.nav__list{
  display: flex;
}
.nav__item:last-child .nav__link:after{
  display: none;
}
.nav__link{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  &:hover{
    text-decoration: underline;
  }
    &:after{
      content: "";
      width: rem(4px);
      height: rem(4px);
      display: block;
      border-radius: 50%;
      background: white;   
      margin: 0 rem(16px);
    }
}
.hambureg__nav, .nav__link{
  @include tablets{
  font-size: rem(24px);
  display: flex;
  flex-direction: column;
}
}
.hambureg__nav, .nav__link:after{
  @include tablets{
  margin: 17px auto;
  width: rem(7px);
  height: rem(7px);
  }
}
