.slider {
  background: linear-gradient(to bottom, rgba(249,180,59,1) 0%,rgba(255,124,0,1) 39%,rgba(255,127,4,1) 53%,rgba(255,127,4,1) 53%,rgba(255,127,4,1) 66%,rgba(255,127,4,1) 66%,rgba(255,167,61,1) 89%,rgba(255,167,61,1) 100%);
  display: flex;
  position: relative;
}
.slider__container{
  flex-direction: initial;
  align-items: center;
  position: relative;
  // overflow: hidden;
}
.slider__wrapper{
  position: relative;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.slider__content{
  transition: 0.3s;
  position: relative;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.slider__item{
  display:flex;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  @include tablets{
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  }

.slider__left,.slider__right{
  width: 50%;
  margin: auto;
  @include tablets{
    width: 100%;
    }
}
.slider__right{
  @include tablets{
    padding: 0 12%;
  }
  @include phones{
    padding: 0 ;
  }
}

.burger__pic{
  display: flex;
  max-width: 100%;
  @include tablets{
    max-width: 100%;
    margin: auto;
  }
}
.slider__title{
  @extend .title;
  color:white;
  @include phones{
    font-size: rem(50px);
  }
}
.slider__text{
  color: white;
  line-height: rem(23.97px);
  margin-top: rem(36px);
  @include phones{
    margin-top: rem(16px);
  }
}
.slider__price{
  margin-top: rem(36px);
  @include phones{
    margin-top: rem(16px);
  }
}
.price{
  display: inline-flex;
  align-items: baseline;
}
.price__numb,.price__text{
  @extend .title;
  color: $red;
}
.price__text{
  font-size: rem(30px);
  margin-right: rem(30px);
}
.scroll{
  transition: all 0.3s;
  outline: none;
  &:hover{
    transform: scale(1.5);
  }
}
.scroll__prev{
  position: relative;
  left: 0;
  z-index: 1;
}
.scroll__next{
  position: relative;
  right: 0;
}
.arrow-scroll__right{
  transform: rotate(-90deg);
}
.arrow-scroll__left{
  transform: rotate(90deg);
}

.composition{
width: rem(90px);
height: rem(90px);
border-radius: rem(5px);
background-color: $red;
opacity: 0.7;
display: flex;
position: absolute;
text-align: center;
@include tablets{
  left: 13%;
  top: -13%;
  @include phones{
    left: 0;
  }
}

}
.composition__content,{
  margin: auto;
}
.composition__img{
  height: rem(44px);
  width: rem(46px);
}
.composition__text,.calories__text{
  @extend .title;
  color: white;
  font-size: rem(14px);
}
.calories__weight{
  background: url('../img/kkal.svg') 50% no-repeat;
    width: rem(60px);
    height: rem(60px);
    position: relative;
    background-size: contain;
}
.calories__weight_text{
  @extend .title;
  color: white;
  font-size: rem(20px);
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.calories{
  display: flex;
  text-align: center;
  top: 85%;
  opacity: 0.5;
  position: absolute;
  @include tablets{
    top: -13%;
    left: 80%;
  }
}

.dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: rem(270px);
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: rem(5px);
  top: 0;
  left: rem(9999px);
  padding: 20%;
}
.drop__item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: rem(5px);
}
.composition:hover{
  opacity: 1;
}
.composition:hover .dropdown{
  left: 100%;
}