.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: rem(60px);
  background: url("/img/footerbg.jpg") center center/cover no-repeat; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }

.footer__col {
  width: 50%; }
  .footer__col.right {
    text-align: right; }

.contacts {
  color: white;
  font-style: normal;
  line-height: rem(24px); }

.contacts__phone {
  color: #red;
  font-weight: 700;
  text-decoration: none; }

.phone {
  width: rem(12px);
  height: rem(11px); }

.social__link {
  margin-left: rem(20px);
  text-decoration: none; }

.socials__img {
  height: rem(20px);
  width: rem(20px);
  fill: grey; }
  .socials__img:hover {
    fill: white;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
